<h2>Methods that were not run</h2><table>
<tr><td>com.deloitte.testng_hybrid_framework.basetestsuite.BaseTest.loadLog4j</td></tr>
<tr><td>com.deloitte.testng_hybrid_framework.basetestsuite.BaseTest.testcaseReporting</td></tr>
<tr><td>com.deloitte.testng_hybrid_framework.basetestsuite.BaseTest.Reporting</td></tr>
</table>