<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9dace">  <td>20/06/26 12:55:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.loadLog4j()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@4c1d9d4b]">&gt;&gt;loadLog4j</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2005733474</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/06/26 12:55:12</td>   <td>22</td> <td>&nbsp;</td><td title="&gt;&gt;GeicoTest.init()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@4c1d9d4b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2005733474</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/06/26 12:55:13</td>   <td>1277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GeicoTest.validateGeicoLoginPage(java.util.Hashtable)[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@4c1d9d4b]">validateGeicoLoginPage</td> 
  <td>main@2005733474</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/06/26 12:55:20</td>   <td>7778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeicoTest.closeTest()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@4c1d9d4b]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td>  <td>main@2005733474</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>20/06/26 12:55:20</td>   <td>7948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@4c1d9d4b]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@2005733474</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>20/06/26 12:55:21</td>   <td>9506</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.testcaseReporting()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@4c1d9d4b]">&lt;&lt;testcaseReporting</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2005733474</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>20/06/26 12:55:21</td>   <td>9557</td> <td title="&lt;&lt;BaseTest.Reporting()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@4c1d9d4b]">&lt;&lt;Reporting</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2005733474</td>   <td></td> </tr>
</table>
