<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="997ed7">  <td>20/06/25 14:36:38</td>   <td>0</td> <td title="&lt;&lt;BaseTest.Reporting()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@45018215]">&lt;&lt;Reporting</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/06/25 14:36:32</td>   <td>-5746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeicoTest.closeTest()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@45018215]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/06/25 14:36:37</td>   <td>-951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GeicoAcct.closeTest()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoAcct@7219ec67]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/06/25 14:36:26</td>   <td>-11460</td> <td>&nbsp;</td><td title="&gt;&gt;GeicoAcct.init()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoAcct@7219ec67]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/06/25 14:36:27</td>   <td>-10832</td> <td>&nbsp;</td><td title="&gt;&gt;GeicoTest.init()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@45018215]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>20/06/25 14:36:26</td>   <td>-11473</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.loadLog4j()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@45018215]">&gt;&gt;loadLog4j</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>20/06/25 14:36:32</td>   <td>-5604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@45018215]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>20/06/25 14:36:37</td>   <td>-778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoAcct@7219ec67]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>20/06/25 14:36:38</td>   <td>-31</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.testcaseReporting()[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@45018215]">&lt;&lt;testcaseReporting</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/06/25 14:36:27</td>   <td>-10747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GeicoTest.validateGeicoLoginPage(java.util.Hashtable)[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoTest@45018215]">validateGeicoLoginPage</td> 
  <td>main@1237550792</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/06/25 14:36:33</td>   <td>-4390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GeicoAcct.validateGeicoLoginPage(java.util.Hashtable)[pri:0, instance:com.deloitte.testng_hybrid_framework.geicotest.GeicoAcct@7219ec67]">validateGeicoLoginPage</td> 
  <td>main@1237550792</td>   <td></td> </tr>
</table>
